@{
    Layout = "_Layout";
}
<div class="d-flex justify-content-center align-items-center" style="height: 90.5%;">
    <div class="col text-center">
        <h3>Bem Vindo ao ML Suite</h3>
        <img src="~/images/image1.jpg" style="opacity: 15%;" width="250px" alt="hahahahahahaha"/>
        <h6>Use o menu &nbsp;<i class="fas fa-bars"></i>&nbsp; para acessar os módulos disponíveis</h6>
    </div>
</div>
